<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .main{
            width: 500px;
            height: 400px;
            margin: 100px auto;
            border:1px solid black;
        }
        input{
            display: block;
            width: 400px;
            height: 50px;
            margin: 0 auto;
            background-color: #F8F8F8;
        }
        .username,.password{
            font-size: 20px;
            margin-top: 20px;
        }
        p{
            margin-top: 20px;
            margin-left: 370px;
            color: #00B38E;
            font-size: 20px;
        }
        .btn{
            display: block;
            width: 400px;
            height: 60px;
            font-size: 25px;
            margin: 40px auto;
            background-color: #00B38E;
            color: white;
        }
        .newpassword{
            margin-top:20px ;
            font-size: 20px;
        }
    </style>
</head>
<body>

<div class="main">

    <form action="losePass1" method="get">
        <input class="username" name="username" type="text" placeholder="请输入用户名">
        <input class="password" name="password" type="text" placeholder="请输入密码">
        <input class="newpassword" name="newpassword" type="text" placeholder="确认密码">
        <button class="btn">保存</button>
    </form>
</div>

</body>
<script>


</script>
</html>